#scholarships
  .search-bar
    i.fa.fa-search.search-icon
    input.search-text(type="text" placeholder="Search scholarships..." [(ngModel)]='searchText' (keyup.enter)='searchItems()')
  .d-flex.space-between.py-1
    .table-header.mx-4.col-resource
      | Resource
    .table-header.mx-4.col-organization
      | Organization
    .table-header.mx-4.col-link
      | Link
    .table-header.mx-4.col-created
      | Created
    .table-header.mx-4.col-edit
      | &nbsp;
  .table-content-with-search(#scrollVariable appInfiniteScroller [scrollPercent]="90" [scrollCallback]="myScrollCallBack.bind(this)")
    .list(*ngFor="let scholarship of scholarships")
      .d-flex.space-between.bg-white.py-1
        .table-data-primary.mx-4.col-resource
          | {{scholarship.title}}
        .table-data.mx-4.col-organization
          | {{scholarship.organization.name}}
        .table-data.mx-4.col-link
          | {{scholarship.url}}
        .table-data.mx-4.col-created
          | {{scholarship.created_at}}
        .table-data.mx-3.col-edit
          i.fa.fa-pencil.edit-row((click)='editScholarship(scholarship.id)')
    .infinite-scroll-loading(class="infinite-scroll-loading" *ngIf="infiniteScrollLoading")
      |Loading ...