
<div class="page-wrapper users" appMouseWheel [scrollClass]="scrollClass">
  <div class="content-wrapper" id="users">
    <div class="header-nav">
      <h1 class="headers">Users</h1>
      <div class="button-group">
        <button class="users-button feedback-btn" (click)="addNewUser()" *ngIf="canCreateNewUser"><span>New User                 </span></button>
      </div>
    </div>
    <div class="justify-start newTabs mb-4">
      <div class="sub-nav-item center mr-4 newSubNav" (click)="switchTab('student')" [ngClass]="{'sub-nav-item-selected': selectedTab === 'student'}" *ngIf="canViewStudents">Students</div>
      <div class="sub-nav-item center mr-4 newSubNav" (click)="switchTab('key_contact')" [ngClass]="{'sub-nav-item-selected': selectedTab === 'key_contact'}" *ngIf="canViewKeyContacts">Key Contacts</div>
      <div class="sub-nav-item center mr-4 newSubNav" (click)="switchTab('counselor')" [ngClass]="{'sub-nav-item-selected': selectedTab === 'counselor'}" *ngIf="canViewCounselors">Counselors</div>
      <div class="sub-nav-item center mr-4 newSubNav" (click)="switchTab('community')" [ngClass]="{'sub-nav-item-selected': selectedTab === 'community'}" *ngIf="canViewCommunities">Community</div>
    </div>
    <app-students *ngIf="selectedTab === 'student'"></app-students>
    <app-keycontacts *ngIf="selectedTab === 'key_contact'"></app-keycontacts>
    <app-counselors *ngIf="selectedTab === 'counselor'"></app-counselors>
    <app-communities *ngIf="selectedTab === 'community'"></app-communities>
  </div>
</div>