
<div class="page-wrapper">
  <div class="content-wrapper" id="users">
    <ngx-loading [show]="creating"> </ngx-loading>
    <form class="form-group" #userForm="ngForm" (ngSubmit)="saveUser(userForm.valid)" novalidate>
      <div class="header-nav">
        <h1 class="headers">{{ title }}</h1>
        <div class="button-group">
          <button class="users-btn primary-button" type="submit" [ngClass]="{'btn-disabled': disableFlag, 'feedback-btn': !disableFlag}" [disabled]="disableFlag"><span>Save</span></button>
          <button class="users-btn secondary-button feedback-btn" type="button" (click)="goBack($event)"> <span>Cancel   </span></button>
        </div>
      </div>
      <div class="wrapper-content"> 
        <div class="item-info names">
          <div class="item-info">
            <div class="input-label">FIRST NAME
              <div class="invalid-validation" [hidden]="firstName.valid || (firstName.pristine &amp;&amp; !userForm.submitted)">First Name is required</div>
            </div>
            <input class="user-input" type="text" name="firstName" [(ngModel)]="user.first_name" (ngModelChange)="onChange($event)" #firstName="ngModel" required>
          </div>
          <div class="item-info">
            <div class="input-label">LAST NAME
              <div class="invalid-validation" [hidden]="lastName.valid || (lastName.pristine &amp;&amp; !userForm.submitted)">Last Name is required</div>
            </div>
            <input class="user-input" type="text" name="lastName" [(ngModel)]="user.last_name" (ngModelChange)="onChange($event)" #lastName="ngModel" required>
          </div>
        </div>
        <div class="item-info" *ngIf="adminFlag">
          <div class="input-label">POINTS
            <div class="invalid-validation" [hidden]="points.valid || (points.pristine &amp;&amp; !userForm.submitted)">Points is required</div>
          </div>
          <input class="user-input" type="number" [(ngModel)]="user.points" name="points" #points="ngModel" (ngModelChange)="onChange($event)" required>
        </div>
        <div class="item-info" *ngIf="!editFlag">
          <div class="input-label">USER TYPE
            <div class="invalid-validation" [hidden]="selectedType.length &gt; 0 || !userForm.submitted">Type is required</div>
          </div>
          <angular2-multiselect name="type" [data]="filteredTypeList" [(ngModel)]="selectedType" [settings]="ktsTypeSettings" (onSelect)="onTypeSelect($event)" (onDeSelect)="onTypeDeSelect($event)">                          </angular2-multiselect>
        </div>
        <div class="item-info">
          <div class="input-label">{{organizationTitle}}
            <div class="invalid-validation" [hidden]="selectedOrganization.length &gt; 0 || !userForm.submitted">{{organizationTitle}} is required</div>
          </div>
          <angular2-multiselect name="organization" [data]="organizationList" [(ngModel)]="selectedOrganization" [settings]="ktsOrganizationSettings" (onSelect)="onSchoolSelect($event)" (onDeSelect)="onSchoolDeSelect($event)"></angular2-multiselect>
        </div>
        <div class="item-info">
          <div class="input-label">EMAIL
            <div class="invalid-validation" [hidden]="email.valid || (email.pristine &amp;&amp; !userForm.submitted)">Email is required</div>
            <div class="invalid-validation" [hidden]="!user.email || user.email === '' || validEmail(user.email) || (email.pristine &amp;&amp; !userForm.submitted)">Incorrect format</div>
          </div>
          <input class="user-input" [(ngModel)]="user.email" name="email" #email="ngModel" (ngModelChange)="onChange($event)" [ngClass]="{'input-disabled': editFlag }" [disabled]="editFlag" required>
        </div>
        <div class="item-info" *ngIf="!editFlag">
          <div class="input-label">PASSWORD
            <div class="invalid-validation" [hidden]="psw.valid || (psw.pristine &amp;&amp; !userForm.submitted)">Password is required</div>
          </div>
          <input class="user-input" type="password" name="psw" #psw="ngModel" [(ngModel)]="user.password" (ngModelChange)="onChange($event)" required>
        </div>
      </div>
    </form>
  </div>
</div>