
<div class="page-wrapper resources">
  <div class="content-wrapper">   
    <div class="header-nav fixed-header">
      <h1 class="headers">Scholarship Application      </h1>
    </div>
    <div class="form-content"> 
      <div class="item-info">
        <div class="input-label-top">NAME          </div>
        <input class="resources-input" type="text" [(ngModel)]="application.name">
      </div>
      <div class="item-info">
        <div class="input-label-top">GRADUATION YEAR          </div>
        <input class="resources-input" type="text" [(ngModel)]="application.graduation_year">
      </div>
      <div class="item-info">
        <div class="input-label-top">SCHOOL          </div>
        <input class="resources-input" type="text" [(ngModel)]="application.school">
      </div>
      <div class="item-info">
        <div class="input-label">ESSAY            </div>
        <textarea class="resources-textarea" rows="6" [(ngModel)]="application.essay">     </textarea>
      </div>
    </div>
  </div>
</div>