#user-opportunities {
  .user-opportunities {
    margin: 50px 0 20px 0;
    font-weight: bold;
    font-size: 16px;
    color: black;
  }

  .table-header {
    width: 35%;
  }

  .table-data {
    width: 35%;
  }
}