
<div class="page-wrapper resources" appMouseWheel [scrollClass]="scrollClass">
  <div class="content-wrapper" id="users">
    <div class="header-nav">
      <h1 class="headers">Resources</h1>
      <div class="button-group">
        <button class="resource-button feedback-btn" (click)="addNewScholarship()" *ngIf="canCreateScholarships"><span>New Scholarship</span></button>
        <button class="resource-button feedback-btn" (click)="addNewResource(&quot;internshipadd&quot;)" *ngIf="canCreateInternships"><span>New Internship</span></button>
        <button class="resource-button feedback-btn" (click)="addNewResource(&quot;opportunityadd&quot;)" *ngIf="canCreateOpportunities"><span>New Opportunities         </span></button>
      </div>
    </div>
    <div class="justify-start newTabs mb-4">
      <div class="sub-nav-item center mr-4 newSubNav" (click)="switchTab('scholarships')" [ngClass]="{'sub-nav-item-selected': selectedTab === 'scholarships'}" *ngIf="canViewScholarships">Scholarships</div>
      <div class="sub-nav-item center mr-4 newSubNav" (click)="switchTab('internships')" [ngClass]="{'sub-nav-item-selected': selectedTab === 'internships'}" *ngIf="canViewInternships">Internships</div>
      <div class="sub-nav-item center mr-4 newSubNav" (click)="switchTab('opportunities')" [ngClass]="{'sub-nav-item-selected': selectedTab === 'opportunities'}" *ngIf="canviewOtherOpportunities">Other Opportunities</div>
    </div>
    <app-scholarships *ngIf="selectedTab === 'scholarships'"></app-scholarships>
    <app-internships *ngIf="selectedTab === 'internships'"></app-internships>
    <app-opportunities *ngIf="selectedTab === 'opportunities'"></app-opportunities>
  </div>
</div>