
<div id="prizesindex">
  <div class="search-bar"><i class="fa fa-search search-icon"></i>
    <input class="search-text" type="text" placeholder="Search prizes..." [(ngModel)]="searchText" (keyup.enter)="searchItems()">
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="d-flex space-between py-1">
    <div class="table-header mx-4 col-prize">Prize</div>
    <div class="table-header mx-4 col-sponsor">Sponsor</div>
    <div class="table-header mx-4 col-delivery">Delivery</div>
    <div class="table-header mx-4 col-quantity">Quantity</div>
    <div class="table-header mx-4 col-redeemed">Redeemed</div>
    <div class="table-header mx-4 col-period">Period</div>
    <div class="table-header mx-4 col-edit">&nbsp;</div>
  </div>
  <div class="table-content-with-search" #scrollVariable appInfiniteScroller [scrollPercent]="90" [scrollCallback]="myScrollCallBack.bind(this)">
    <div class="list" *ngFor="let prize of prizes">
      <div class="d-flex space-between bg-white py-1 pointer" (click)="editPrize(prize.id)">
        <div class="table-data-primary mx-4 col-prize">{{prize.title}}</div>
        <div class="table-data mx-4 col-sponsor">{{prize.organization_name}}</div>
        <div class="table-data mx-4 col-delivery">{{prize.delivery_type}}</div>
        <div class="table-data mx-4 col-quantity">{{prize.quantity}}</div>
        <div class="table-data mx-4 col-redeemed">{{prize.redeemed}}</div>
        <div class="table-data mx-4 col-period">{{formatDate(prize.period)}}</div>
        <div class="table-data mx-4 col-edit"><i class="fa fa-pencil edit-row" (click)="editPrize(prize.id)"></i></div>
      </div>
    </div>
    <div class="infinite-scroll-loading infinite-scroll-loading" *ngIf="infiniteScrollLoading">Loading ...  </div>
  </div>
</div>