#notificationslist
  ngx-loading([show]='loading') 
  .d-flex.space-between.py-1
    .table-header.mx-4.col-subject
      | SUBJECT
    .table-header.mx-4.col-message
      | MESSAGE
    .table-header.mx-4.col-sent
      | SENT
    .table-header.mx-4.col-view
      | &nbsp;
  .table-content-without-search(#scrollVariable appInfiniteScroller [scrollPercent]="90" [scrollCallback]="myScrollCallBack.bind(this)")
    .list(*ngFor="let notification of notifications" (click)='viewNotification(notification.id)')
      .d-flex.space-between.bg-white.py-1
        .table-data-primary.mx-4.col-subject
          | {{notification.subject}}
        .table-data.mx-4.col-message
          | {{notification.body}}
        .table-data.mx-4.col-sent
          | {{notification.created_at}}
        .table-data.mx-4.col-view
          i.fa.fa-eye.edit-row
    .infinite-scroll-loading(class="infinite-scroll-loading" *ngIf="infiniteScrollLoading")
      | Loading ...