
<div id="notificationslist">
  <ngx-loading [show]="loading"> </ngx-loading>
  <div class="d-flex space-between px-4 py-1">
    <div class="table-header col-subject">SUBJECT</div>
    <div class="table-header col-message">MESSAGE</div>
    <div class="table-header col-sent">SENT</div>
    <div class="table-header col-view">&nbsp;</div>
  </div>
  <div class="table-content-without-search" #scrollVariable appInfiniteScroller [scrollPercent]="90" [scrollCallback]="myScrollCallBack.bind(this)">
    <div class="list" *ngFor="let notification of notifications" (click)="viewNotification(notification.id)">
      <div class="d-flex space-between bg-white px-4 py-1">
        <div class="table-data-primary col-subject">{{notification.subject}}</div>
        <div class="table-data col-message">{{notification.body}}</div>
        <div class="table-data col-sent">{{notification.created_at}}</div>
        <div class="table-data col-view"><i class="fa fa-eye edit-row"></i></div>
      </div>
    </div>
    <div class="infinite-scroll-loading infinite-scroll-loading" *ngIf="infiniteScrollLoading">Loading ...</div>
  </div>
</div>