
<div class="page-wrapper resources">
  <div class="content-wrapper" id="appliedusers">
    <div class="header-nav">
      <h1 class="headers">Applicants</h1>
    </div>
    <div class="resource-name">{{resource.title}}</div>
    <div class="d-flex space-between py-1">
      <div class="table-header mx-4 col-student">Student</div>
      <div class="table-header mx-4 col-school">School</div>
      <div class="table-header mx-4 col-grade">Grade</div>
      <div class="table-header mx-4 col-email">Email</div>
    </div>
    <div class="table-content-without-search" *ngIf="applications.length &gt; 0">
      <div class="list" *ngFor="let application of applications">
        <div class="d-flex space-between bg-white py-1">
          <div class="table-data-primary mx-4 col-student">{{application.name}}</div>
          <div class="table-data mx-4 col-school">{{application.school}}</div>
          <div class="table-data mx-4 col-grade">{{application.graduation_year}}</div>
          <div class="table-data mx-4 col-email">{{application.email}}</div>
        </div>
      </div>
    </div>
  </div>
</div>