@import "../../resources.component.scss";
.header-nav{
  z-index: 100;
}
.headers{
  margin-bottom: 0;
}
.applicants-view {
  margin-top: 71px;
  padding-top: 0;
  padding-bottom: 20px;
}
.form-content{
  margin-top: 120px;
}