.page-wrapper.resources
  #scholarshipadd.content-wrapper
    form.form-group(#scholarshipForm='ngForm' (ngSubmit)="saveScholarship(scholarshipForm.valid)" novalidate)
      .header-nav.fixed-header
        h1.headers
          | {{title}}
        .button-group
          button.save-button(type='submit' [ngClass]="{'btn-disabled': disableFlag === true}" [disabled]="disableFlag")
            | Save
          button.cancel-button((click)='goBack()' type='button') 
            | Cancel  
      .form-content 
          .item-info
            .input-label-top
              | NAME
              .invalid-validation([hidden]="name.valid || (name.pristine && !scholarshipForm.submitted)")
                | Name is required
            input.resources-input(type="text" name="name" [(ngModel)]='scholarship.title' (ngModelChange)="onChange($event)" #name='ngModel' required)
          .item-info
            .input-label
              | DESCRIPTION
              .invalid-validation([hidden]="details.valid || (details.pristine && !scholarshipForm.submitted)")
                | Description is required
            textarea.resources-textarea(rows='6' name="details" [(ngModel)]='scholarship.description' (ngModelChange)="onChange($event)" #details="ngModel" required) 
          .item-info
            .input-label-dropdown
              | ORGANIZATION
              .invalid-validation([hidden]="selectedOrganization.length > 0 || !scholarshipForm.submitted")
                | Organization is required
            angular2-multiselect(
              name = 'organization'
              [data]='organizationList'
              [(ngModel)]='selectedOrganization'
              [settings]='ktsSelectSettings'
              (onSelect)='onOrganizationSelect($event)'
              (onDeSelect)='onOrganizationDeSelect($event)'
            )
          .item-info
            .input-label
              | APPLICATION LINK
              .invalid-validation([hidden]="link.valid || (link.pristine && !scholarshipForm.submitted)")
                | Application link is required
              .invalid-validation([hidden]="!scholarship.url || scholarship.url === '' || validURL(scholarship.url) || (link.pristine && !internshipForm.submitted)")
                | Application link is not correct
            input.resources-input([(ngModel)]='scholarship.url' (ngModelChange)="onChange($event)" name="link" #link='ngModel' required)
          .item-info
            .input-label
              | AMOUNT
              .invalid-validation([hidden]="amount.valid || (amount.pristine && !scholarshipForm.submitted)")
                | Amount is required
            input.resources-input(type="number" [(ngModel)]='scholarship.amount' (ngModelChange)="onChange($event)" name='amount' #amount='ngModel' required)
          .item-info
            .input-label
              | NUMBER AVAILABLE
              .invalid-validation([hidden]="number_available.valid || (number_available.pristine && !scholarshipForm.submitted)")
                | Number available is required
            input.resources-input(type="number" [(ngModel)]='scholarship.number_available' (ngModelChange)="onChange($event)" name="number_available" #number_available="ngModel" required)
          .item-info
            .input-label-dropdown
              | CAREERS
            angular2-multiselect(
              name = 'careers'
              [data]='careerList'
              [(ngModel)]='selectedCareers'
              [settings]='ktsMultiSettings'
              (onSelect)='onCareerSelect($event)'
              (onDeSelect)='onCareerDeSelect($event)'
            )    
          .item-info
            .input-label-bold
                | HIGH SCHOOLS
            angular2-multiselect(
              name = 'schools'
              [data]='schoolList'
              [(ngModel)]='selectedSchools'
              [settings]='ktsMultiSettings'
              (onSelect)='onSchoolSelect($event)'
              (onDeSelect)='onSchoolDeSelect($event)'
            )     
          .item-info
            input(type='checkbox' [(ngModel)]='scholarship.active' (ngModelChange)="onChange($event)" id='active' name='checkbox')
            label(for='active')
              | Active  
          .item-info   
            button.delete-button((click)='deleteScholarship()') 
              | Delete Scholarship  