@import "../../resources.component.scss";
#scholarshipadd {
  height: 1800px;
}

.form-content{
  margin-top: 122px;
}

.content-wrapper {
  min-height: 1300px;
}

.disabled {
  background-color: #E6E9F2
}

.checkboxes {
  width: 20%;
}