#sponsors
  .search-bar
    i.fa.fa-search.search-icon
    input.search-text(type="text", placeholder="Search sponsors...", [(ngModel)]='searchText', (keyup.enter)='searchItems()')
  .d-flex.space-between.px-4.mb-1
    .table-header.col-organization
      | Sponsor
    .table-header.col-created
      | Created date
    .table-header.mx-4.col-edit
      | &nbsp;
  .table-content-without-search(#scrollVariable, appInfiniteScroller, [scrollPercent]="90", [scrollCallback]="myScrollCallBack.bind(this)")
    .list(*ngFor="let organization of organizations")
      .d-flex.space-between.bg-white.py-1.pointer((click)='editOrganization(organization.id)')
        .table-data-primary.mx-4.col-organization
          | {{organization.name}}
        .table-data.mx-4.col-created
          | {{organization.created_at}}
        .table-data.mx-4.col-edit
          i.fa.fa-pencil.edit-row((click)='editOrganization(organization.id)')
    .infinite-scroll-loading(class="infinite-scroll-loading", *ngIf="infiniteScrollLoading")
      | Loading ...
