
<div class="page-wrapper resources">
  <div class="content-wrapper" id="opportunity">
    <form class="form-group" #opportunityForm="ngForm" (ngSubmit)="saveOpportunity(opportunityForm.valid)" novalidate>
      <div class="header-nav">
        <h1 class="headers">{{title}}</h1>
        <div class="button-group">
          <button class="resources-btn primary-button" type="submit" [ngClass]="{'btn-disabled': disableFlag === true}" [disabled]="disableFlag">
             Save</button>
          <button class="resources-btn secondary-button" type="button" (click)="goBack()">
             Cancel</button>
        </div>
      </div>
      <div class="applicants-view" *ngIf="editFlag === true &amp;&amp; opportunity.users" (click)="gotoApplicants(opportunity.id)">Applicants: {{opportunity.users.length}} <img class="link-arrow" src="../assets/imgs/link-arrow.svg"></div>
      <div class="wrapper-content"> 
        <div class="item-info">
          <div class="input-label">NAME
            <div class="invalid-validation" [hidden]="name.valid || (name.pristine &amp;&amp; !opportunityForm.submitted)">Name is required</div>
          </div>
          <input class="resources-input" type="text" name="name" [(ngModel)]="opportunity.title" (ngModelChange)="onChange($event)" #name="ngModel" required>
        </div>
        <div class="item-info">
          <div class="input-label">ORGANIZATION
            <div class="invalid-validation" [hidden]="selectedOrganization.length &gt; 0 || !opportunityForm.submitted">Organization is required</div>
          </div>
          <angular2-multiselect name="organization" [data]="organizationList" [(ngModel)]="selectedOrganization" [settings]="ktsSelectSettings" (onSelect)="onOrganizationSelect($event)" (onDeSelect)="onOrganizationDeSelect($event)"></angular2-multiselect>
        </div>
        <div class="item-info">
          <div class="input-label">DESCRIPTION
            <div class="invalid-validation" [hidden]="details.valid || (details.pristine &amp;&amp; !opportunityForm.submitted)">Description is required</div>
          </div>
          <textarea class="resources-textarea" rows="6" name="details" [(ngModel)]="opportunity.details" (ngModelChange)="onChange($event)" #details="ngModel" required></textarea>
        </div>
        <div class="item-info">
          <div class="input-label">APPLICATION LINK
            <div class="invalid-validation" [hidden]="link.valid || (link.pristine &amp;&amp; !opportunityForm.submitted)">Application link is required</div>
            <div class="invalid-validation" [hidden]="!opportunity.link || opportunity.link === '' || validURL(opportunity.link) || (link.pristine &amp;&amp; !opportunityForm.submitted)">Application link is not correct</div>
          </div>
          <input class="resources-input" [(ngModel)]="opportunity.link" name="link" #link="ngModel" (ngModelChange)="onChange($event)" required>
        </div>
        <div class="item-info">
          <div class="input-label">CAREERS</div>
          <angular2-multiselect name="careers" [data]="careerList" [(ngModel)]="selectedCareers" [settings]="ktsMultiSettings" (onSelect)="onCareerSelect($event)" (onDeSelect)="onCareerDeSelect($event)">    </angular2-multiselect>
        </div>
        <div class="item-info">
          <input type="checkbox" id="active" [(ngModel)]="opportunity.is_active" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)">
          <label for="active">Active  </label>
        </div>
        <div class="item-info">  
          <button class="resources-btn secondary-button delete-opportunity" (click)="deleteOpportunity()">
             Delete Opportunity  </button>
        </div>
      </div>
    </form>
  </div>
</div>