.page-wrapper
  #notification.content-wrapper
    ngx-loading([show]='creating')
    form.form-group(#notificationForm="ngForm" (ngSubmit)="saveNotification(notificationForm.valid)" novalidate)
      .header-nav
        h1.headers
          | {{title}}
        .button-group
            button.notifications-btn.primary-button(type="submit", *ngIf="!notification.id") 
              | Save
            button.notifications-btn.secondary-button(type="button" (click)="cancelNotification()") 
              | Cancel  
      .wrapper-content 
        .item-info
          .input-label-top
            | SUBJECT
            .invalid-validation([hidden]="subject.valid || (subject.pristine && !notificationForm.submitted)")
              | Subject is required
          input.notification-input(type="text" name="subject" [(ngModel)]='notification.subject' #subject="ngModel" [disabled]="notification.id" required)
        .item-info
          .input-label
            | MESSAGE
            .invalid-validation([hidden]="message.valid || (message.pristine && !notificationForm.submitted)")
              | Message is required
          textarea.notification-textarea(rows="6" name="message" [(ngModel)]="notification.body" #message="ngModel" [disabled]="notification.id" required)
        .item-info
          .input-label
            | Recipient Category
            .invalid-validation([hidden]="selectedType.length > 0 || !notificationForm.submitted")
              | Category is required
          angular2-multiselect(
            name = 'types'
            [data]='typeList'
            [(ngModel)]='selectedType'
            [settings]='ktsSelectSettings'
            (onSelect)='onTypeSelect($event)'
            (onDeSelect)='onTypeDeSelect($event)'
            [disabled]="notification.id"
          )
        .item-info(*ngIf="valueListVisibleFlag")
          .input-label-dropdown
            | {{valueListTitle}}
            .invalid-validation([hidden]="selectedValueList.length > 0 || !notificationForm.submitted")
              | Type is required
          angular2-multiselect(
            name = 'typevalues'
            [data]='typeValueList'
            [(ngModel)]='selectedValueList'
            [settings]='ktsSelectSettings'
            (onSelect)='onValueSelect($event)'
            (onDeSelect)='onValueDeSelect($event)'
          )
        .item-info(*ngIf="careerListVisibleFlag")
          .input-label-dropdown
              | CAREERS
          angular2-multiselect(
            name = 'careers'
            [data]='careerList'
            [(ngModel)]='selectedCareers'
            [settings]='ktsMultiSettings'
            (onSelect)='onCareerSelect($event)'
            (onDeSelect)='onCareerDeSelect($event)'
          )