
<div class="page-wrapper">
  <div class="content-wrapper" id="notification">
    <ngx-loading [show]="creating"></ngx-loading>
    <form class="form-group" #notificationForm="ngForm" (ngSubmit)="saveNotification(notificationForm.valid)" novalidate>
      <div class="header-nav">
        <h1 class="headers">{{title}}</h1>
        <div class="button-group" [hidden]="saveBtn">
          <button class="notifications-btn primary-button feedback-btn" type="submit" *ngIf="!notification.id"> <span>Save</span></button>
          <button class="notifications-btn secondary-button feedback-btn" type="button" (click)="cancelNotification()"> <span>Cancel </span></button>
        </div>
        <div class="button-group" [hidden]="approveBtn">
          <button class="notifications-btn primary-button feedback-btn" type="button" (click)="approve()"><span>Approve</span></button>
          <button class="notifications-btn secondary-button feedback-btn" (click)="reject()" type="button"> <span>Reject  </span></button>
        </div>
      </div>
      <div class="wrapper-content"> 
        <div class="item-info">
          <div class="input-label-top">SUBJECT
            <div class="invalid-validation" [hidden]="subject.valid || (subject.pristine &amp;&amp; !notificationForm.submitted)">Subject is required</div>
          </div>
          <input class="notification-input" type="text" name="subject" [ngClass]="{'disabled': !approved || notification.id}" [(ngModel)]="notification.subject" #subject="ngModel" [disabled]="notification.id  || !approved" required>
        </div>
        <div class="item-info">
          <div class="input-label">MESSAGE
            <div class="invalid-validation" [hidden]="message.valid || (message.pristine &amp;&amp; !notificationForm.submitted)">Message is required</div>
          </div>
          <textarea class="notification-textarea" rows="6" name="message" [ngClass]="{'disabled': !approved || notification.id}" [(ngModel)]="notification.body" #message="ngModel" [disabled]="notification.id || !approved" required></textarea>
        </div>
        <div class="item-info">
          <div class="input-label">Recipient Category
            <div class="invalid-validation" [hidden]="selectedType.length &gt; 0 || !notificationForm.submitted">Category is required</div>
          </div>
          <angular2-multiselect name="types" [data]="typeList" [(ngModel)]="selectedType" [settings]="notificationRecipientCategory" (onSelect)="onTypeSelect($event)" (onDeSelect)="onTypeDeSelect($event)"></angular2-multiselect>
        </div>
        <div class="item-info" *ngIf="valueListVisibleFlag">
          <div class="input-label-dropdown">{{valueListTitle}}
            <div class="invalid-validation" [hidden]="selectedValueList.length &gt; 0 || !notificationForm.submitted">Type is required</div>
          </div>
          <angular2-multiselect name="typevalues" [data]="typeValueList" [(ngModel)]="selectedValueList" [settings]="ktsSelectSettings" (onSelect)="onValueSelect($event)" (onDeSelect)="onValueDeSelect($event)"></angular2-multiselect>
        </div>
        <div class="item-info" *ngIf="careerListVisibleFlag">
          <div class="input-label-dropdown">CAREERS</div>
          <angular2-multiselect name="careers" [data]="careerList" [(ngModel)]="selectedCareers" [settings]="ktsMultiSettings" (onSelect)="onCareerSelect($event)" (onDeSelect)="onCareerDeSelect($event)"></angular2-multiselect>
        </div>
      </div>
    </form>
  </div>
</div>