
<div id="students">
  <div class="search-bar"><i class="fa fa-search search-icon"></i>
    <input class="search-text" type="text" placeholder="Search students..." [(ngModel)]="searchText" (keyup.enter)="searchItems()">
  </div>
  <ngx-loading [show]="loading"> </ngx-loading>
  <div class="d-flex space-between py-1">
    <div class="table-header mx-4 col-student">Student</div>
    <div class="table-header mx-4 col-school">School</div>
    <div class="table-header mx-4 col-grade">Grade</div>
    <div class="table-header mx-4 col-email">Email</div>
    <div class="table-header mx-4 col-edit">&nbsp;</div>
  </div>
  <div class="table-content-with-search" #scrollVariable appInfiniteScroller [scrollPercent]="90" [scrollCallback]="myScrollCallBack.bind(this)">
    <div class="list" *ngFor="let student of students">
      <div class="d-flex space-between bg-white py-1 pointer" (click)="editStudent(student.id)">
        <div class="table-data-primary mx-4 col-student">{{student.getName()}}</div>
        <div class="table-data mx-4 col-school">{{student.organization.name}}</div>
        <div class="table-data mx-4 col-grade">Grade</div>
        <div class="table-data mx-4 col-email">{{student.email}}</div>
        <div class="table-data mx-4 col-edit"><i class="fa fa-pencil edit-row" (click)="editStudent(student.id)"></i></div>
      </div>
    </div>
    <div class="infinite-scroll-loading infinite-scroll-loading" *ngIf="infiniteScrollLoading">Loading ...</div>
  </div>
</div>