
<div class="page-wrapper organizations">
  <div class="content-wrapper" id="organization">
    <ngx-loading [show]="creating"> </ngx-loading>
    <form class="form-group" #organizationForm="ngForm" (ngSubmit)="saveOrganization(organizationForm.valid)" novalidate>
      <div class="header-nav">
        <h1 class="headers">{{title}}</h1>
        <div class="button-group">
          <button class="organization-btn primary-button feedback-btn" type="submit" *ngIf="!isSchool || newSchool"> <span>Save</span></button>
          <button class="organization-btn primary-button feedback-btn" type="submit" *ngIf="isSchool &amp;&amp; hasId"> <span>Update</span></button>
          <button class="organization-btn secondary-button feedback-btn" type="button" (click)="goBack($event)"> <span>Cancel</span></button>
          <button class="organization-btn secondary-button feedback-btn" type="button" *ngIf="isSchool &amp;&amp; hasId" (click)="deleteOrganization()"> <span>Delete</span></button>
        </div>
      </div>
      <div class="wrapper-content">
        <div class="logo-image" *ngIf="!isSchool"> 
          <div class="well my-drop-zone" ng2FileDrop [ngClass]="{'upload-disabled': disableField,'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" (onFileDrop)="selectedFile($event)">           <img class="preview" [ngClass]="{'upload-disabled': isSchool}" [src]="filePreviewPath" *ngIf="filePreviewPath" for="file" (click)="file.click()">
            <div class="empty-logo" *ngIf="!filePreviewPath">
              <label class="add-logo" for="file">Add Logo  </label>
            </div>
            <div class="change-logo" *ngIf="filePreviewPath">
              <label class="add-logo" for="file">Change Logo  </label>
            </div>
          </div>
          <input class="file-chooser" #file type="file" id="file" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg" (onFileSelected)="selectedFile($event)" [disabled]="disableField">
        </div>
        <div class="content">
          <div class="item-info" *ngIf="!isSchool">
            <div class="input-label">NAME
              <div class="invalid-validation" [hidden]="name.valid || (name.pristine &amp;&amp; !organizationForm.submitted)">Name is required</div>
            </div>
            <input class="organization-input" [ngClass]="{'input-disabled': disableField }" [disabled]="disableField" name="name" [(ngModel)]="organization.name" #name="ngModel" required>
          </div>
          <div class="item-info" *ngIf="isSchool">
            <div class="input-label">NAME
              <div class="invalid-validation" [hidden]="name.valid || (name.pristine &amp;&amp; !organizationForm.submitted)">Name is required</div>
            </div>
            <input class="input" [ngClass]="{'input-disabled': disableField }" [disabled]="disableField" name="name" [(ngModel)]="organization.name" #name="ngModel" required>
          </div>
          <div class="item-info" *ngIf="!isSchool">
            <div class="input-label">WEBSITE
              <div class="invalid-validation" [hidden]="link.valid || (link.pristine &amp;&amp; !organizationForm.submitted)">Website link is required</div>
              <div class="invalid-validation" [hidden]="!organization.url || organization.url === '' || validURL(organization.url) || (link.pristine &amp;&amp; !organizationForm.submitted)">Website link is not correct</div>
            </div>
            <input class="organization-input" [ngClass]="{'input-disabled': disableField }" [disabled]="disableField" [(ngModel)]="organization.url" name="link" #link="ngModel" required>
          </div>
          <div class="item-info" *ngIf="isSchool">
            <div class="input-label">WEBSITE
              <div class="invalid-validation" [hidden]="link.valid || (link.pristine &amp;&amp; !organizationForm.submitted)">Website link is required</div>
              <div class="invalid-validation" [hidden]="!organization.url || organization.url === '' || validURL(organization.url) || (link.pristine &amp;&amp; !organizationForm.submitted)">Website link is not correct</div>
            </div>
            <input class="input" [ngClass]="{'input-disabled': disableField }" [disabled]="disableField" [(ngModel)]="organization.url" name="link" #link="ngModel" required>
          </div>
          <div class="item-info" *ngIf="isSchool">
            <div class="input-label">SCHOOL ID
              <div class="invalid-validation" [hidden]="schoolId.valid || (schoolId.pristine &amp;&amp; !organizationForm.submitted)">School ID is required</div>
            </div>
            <input class="input" [ngClass]="{'input-disabled': disableField }" [disabled]="disableField" name="schoolId" [(ngModel)]="organization.school_id" #schoolId="ngModel" required>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>