
<div class="page-wrapper notifications" appMouseWheel [scrollClass]="scrollClass">
  <div class="content-wrapper" id="users">
    <div class="header-nav">
      <h1 class="headers">Notifications</h1>
      <div class="button-group">
        <button class="new-notification-button feedback-btn" (click)="addNotification()"><span>New Notification</span></button>
        <button class="new-notification-button feedback-btn" (click)="newMessage()" *ngIf="canCreateMessage"><span>New Message</span></button>
      </div>
    </div>
    <div class="justify-start newTabs mb-4">
      <div class="sub-nav-item center mr-4 newSubNav" [ngClass]="{'sub-nav-item-selected': selectedTab === 'notifications'}">Notifications</div>
    </div>
    <app-notificationlist *ngIf="selectedTab === 'notifications'"></app-notificationlist>
  </div>
</div>